{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-9 mt-4">
        <div class="card" id="quote">
            <div class="card-body">
                <p class="card-title"><b><i>{{ result.text }}</i></b></p>
                <p class="card-text"><i>{{ result.author }}</i></p>
                <button type="button" class="btn btn-secondary">Add to favourites</button>
                <button type="button" class="btn btn-secondary" id="get-quote">Get another quote</button>
                <button type="button" class="btn btn-secondary" id="get-quotes">Get more quotes</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div id="quotes-table" class="col-sm-9 mt-4">

    </div>
</div>
 {% endblock %}
